In [40]:
# Load libraries

from datetime import datetime, date, timedelta
import csv
import pandas as pd 
import plotly.graph_objs as go
import plotly.plotly as py
import numpy as np
py.sign_in('ajbentley', 'zjfu2vasav')

ImportError: cannot import name DatetimeIndex

In [32]:
uber = pd.read_csv("Downloads/uber-raw-apr-sep14-1000.csv")
green = pd.read_csv("Downloads/2014_Green_Taxi_Trip_Data-1000.csv")
yellow = pd.read_csv("Downloads/nyc_yellow_apr-sep14_5percent-1000.csv")

In [33]:
print uber.info()
print ' '
print 'describe'
print uber.describe()
uber.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
Date/Time    999 non-null object
Lat          999 non-null float64
Lon          999 non-null float64
Base         999 non-null object
dtypes: float64(2), object(2)
memory usage: 31.3+ KB
None

describe
              Lat         Lon
count  999.000000  999.000000
mean    40.748495  -73.983836
std      0.034131    0.062267
min     40.608600  -74.420000
25%     40.728550  -73.999100
50%     40.753800  -73.983500
75%     40.767450  -73.969850
max     40.985900  -73.420200

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [34]:
print green.info()
print ' '
print 'describe'
print green.describe()
green.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 3 columns):
pickup_datetime     999 non-null object
Pickup_longitude    999 non-null float64
Pickup_latitude     999 non-null float64
dtypes: float64(2), object(1)
memory usage: 23.5+ KB
None

describe
       Pickup_longitude  Pickup_latitude
count        999.000000       999.000000
mean         -71.710043        39.522612
std           12.624052         6.957853
min          -74.149689         0.000000
25%          -73.957962        40.700939
50%          -73.941910        40.743584
75%          -73.902069        40.789864
max            0.000000        40.903412

          pickup_datetime  Pickup_longitude  Pickup_latitude
0  04/01/2014 12:00:00 AM               0.0              0.0
1  04/01/2014 12:00:00 AM               0.0              0.0
2  04/01/2014 12:00:00 AM               0.0              0.0
3  04/01/2014 12:00:00 AM               0.0              0.0
4  04/01/2014 12:00:00 AM               0.0              0.0

In [35]:
print yellow.info()
print ' '
print 'describe'
print yellow.describe()
yellow.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 3 columns):
2014-04-17 23:52:00    999 non-null object
-73.986722             999 non-null float64
40.719552              999 non-null float64
dtypes: float64(2), object(1)
memory usage: 23.5+ KB
None

describe
       -73.986722   40.719552
count  999.000000  999.000000
mean   -72.715630   40.057677
std      9.572316    5.273242
min    -74.108024    0.000000
25%    -73.992604   40.734061
50%    -73.981918   40.754291
75%    -73.964570   40.767983
max      0.000000   40.986185

   2014-04-17 23:52:00  -73.986722  40.719552
0  2014-06-26 23:26:00  -73.976365  40.752602
1  2014-04-15 21:04:00  -73.931985  40.744907
2  2014-09-18 06:29:00  -73.985800  40.777970
3  2014-07-26 01:55:09  -74.004337  40.721423
4  2014-08-27 11:10:58  -74.008329  40.720182

In the interest of speed i'm going to do all of the conversions for the data separately, then concat at end before delivery.

In [36]:
# clean uber
# remove extraneous column
uber.pop('Base');

# reorder and rename columns
uber = uber[['Date/Time','Lon','Lat']]
uber.rename (columns={'Date/Time':'pu_date_time', 'Lon':'pu_lon',\
                      'Lat':'pu_lat'},\
            inplace=True)

# convert first column to datetime
uber.pu_date_time = pd.to_datetime(uber.pu_date_time)

uber['pu_zip'] = np.random.choice(range(10001, 11499), uber.shape[0],\
                                 np.random.seed(43))


uber.head()

         pu_date_time   pu_lon   pu_lat  pu_zip
0 2014-04-01 00:11:00 -73.9549  40.7690   10549
1 2014-04-01 00:17:00 -74.0345  40.7267   10467
2 2014-04-01 00:21:00 -73.9873  40.7316   11325
3 2014-04-01 00:28:00 -73.9776  40.7588   11099
4 2014-04-01 00:33:00 -73.9722  40.7594   10436

In [42]:
uberdow = []
uberhour = []

for n in uber.pu_date_time:
    uberdow.append(n.day)
    uberhour.append(n.hour)

In [45]:
uberhour

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23]

In [39]:
uber['dow'] = 

DatetimeIndex.dayofweek[uber.pu_date_time]

NameError: name 'DatetimeIndex' is not defined

In [37]:
green.head()

          pickup_datetime  Pickup_longitude  Pickup_latitude
0  04/01/2014 12:00:00 AM               0.0              0.0
1  04/01/2014 12:00:00 AM               0.0              0.0
2  04/01/2014 12:00:00 AM               0.0              0.0
3  04/01/2014 12:00:00 AM               0.0              0.0
4  04/01/2014 12:00:00 AM               0.0              0.0

In [38]:
# clean green

# rename columns
green.rename (columns={'pickup_datetime':'pu_date_time',\
                       'Pickup_longitude':'pu_lon','Pickup_latitude':'pu_lat'},\
            inplace=True)

# convert first column to datetime
green.pu_date_time = pd.to_datetime(green.pu_date_time)

green.head()

  pu_date_time  pu_lon  pu_lat
0   2014-04-01     0.0     0.0
1   2014-04-01     0.0     0.0
2   2014-04-01     0.0     0.0
3   2014-04-01     0.0     0.0
4   2014-04-01     0.0     0.0