make multiple models and then use results of models in additional model.

1. week vs same week prior years
2. month vs same month prior years
3. weekly vs prior 4 week trend
4. week to week trend
4. monthly trend
5. day vs prior day, 2 days, 3 days

In [8]:
import pandas_datareader.data as web
from datetime import datetime as dt

start = dt(2000, 01, 01)
end = dt(2016, 12, 02)

spy = web.DataReader('SPY','yahoo', start, end)
spy.describe()

,Open,High,Low,Close,Volume,Adj Close
count,4258.000000,4258.000000,4258.000000,4258.000000,4.258000e+03,4258.000000
mean,137.411402,138.268271,136.472710,137.409565,1.181343e+08,118.753929
std,35.662481,35.644046,35.675835,35.676728,1.049442e+08,41.365178
min,67.949997,70.000000,67.099998,68.110001,1.436600e+06,58.030191
25%,113.000000,113.642500,112.169998,112.945001,4.385932e+07,89.216334
50%,129.435006,130.198754,128.610001,129.430001,8.972840e+07,105.711131
75%,150.647495,151.500000,149.669998,150.727501,1.633248e+08,129.537326
max,221.630005,221.820007,221.009995,221.520004,8.710263e+08,221.520004

In [16]:

spy.head()

                  Open        High         Low     Close    Volume   Adj Close
Date
2000-01-03  148.250000  148.250000  143.875000  145.4375   8164300  106.449075
2000-01-04  143.531204  144.062500  139.640594  139.7500   8089800  102.286262
2000-01-05  139.937500  141.531204  137.250000  140.0000  12177900  102.469243
2000-01-06  139.625000  141.500000  137.750000  137.7500   6227200  100.822416
2000-01-07  140.312500  145.750000  140.062500  145.7500   8066500  106.677801

In [20]:
# day vs prior day, 2 days, 3 days

from datetime import timedelta
offset1 = timedelta(days=-1)
offset2 = timedelta(days=-2)
offset3 = timedelta(days=-3)

# spy['prior_day_open'] = spy['Open'].shift(-1)
spy['prior_day_high'] = spy['High'].shift(-1)
spy['prior_day_low'] = spy['Low'].shift(-1)
spy['prior_day_close'] = spy['Close'].shift(-1)

spy['prior_2day_open'] = spy['Open'].shift(-2)
spy['prior_2day_high'] = spy['High'].shift(-2)
spy['prior_2day_low'] = spy['Low'].shift(-2)
spy['prior_2day_close'] = spy['Close'].shift(-2)

spy['prior_3day_open'] = spy['Open'].shift(-3)
spy['prior_3day_high'] = spy['High'].shift(-3)
spy['prior_3day_low'] = spy['Low'].shift(-3)
spy['prior_3day_close'] = spy['Close'].shift(-3)

spy.head()

,Open,High,Low,Close,Volume,Adj Close,prior_day_open,prior_day_high,prior_day_low,prior_day_close,prior_2day_open,prior_2day_high,prior_2day_low,prior_2day_close,prior_3day_open,prior_3day_high,prior_3day_low,prior_3day_close
Date,,,,,,,,,,,,,,,,,,
2000-01-03,148.250000,148.250000,143.875000,145.4375,8164300,106.449075,143.531204,144.062500,139.640594,139.75,139.9375,141.531204,137.250000,140.00,139.625000,141.500000,137.750000,137.7500
2000-01-04,143.531204,144.062500,139.640594,139.7500,8089800,102.286262,139.937500,141.531204,137.250000,140.00,139.6250,141.500000,137.750000,137.75,140.312500,145.750000,140.062500,145.7500
2000-01-05,139.937500,141.531204,137.250000,140.0000,12177900,102.469243,139.625000,141.500000,137.750000,137.75,140.3125,145.750000,140.062500,145.75,146.250000,146.906204,145.031204,146.2500
2000-01-06,139.625000,141.500000,137.750000,137.7500,6227200,100.822416,140.312500,145.750000,140.062500,145.75,146.2500,146.906204,145.031204,146.25,145.812500,146.093704,143.500000,144.5000
2000-01-07,140.312500,145.750000,140.062500,145.7500,8066500,106.677801,146.250000,146.906204,145.031204,146.25,145.8125,146.093704,143.500000,144.50,144.593704,144.593704,142.875000,143.0625

In [21]:
spy['prior_2day_avg_close'] = sum((spy['Close'].shift(-1))+(spy['Close'].shift(-2)))

In [22]:
spy.head()

,Open,High,Low,Close,Volume,Adj Close,prior_day_open,prior_day_high,prior_day_low,prior_day_close,prior_2day_open,prior_2day_high,prior_2day_low,prior_2day_close,prior_3day_open,prior_3day_high,prior_3day_low,prior_3day_close,prior_2day_avg_close
Date,,,,,,,,,,,,,,,,,,,
2000-01-03,148.250000,148.250000,143.875000,145.4375,8164300,106.449075,143.531204,144.062500,139.640594,139.75,139.9375,141.531204,137.250000,140.00,139.625000,141.500000,137.750000,137.7500,NaN
2000-01-04,143.531204,144.062500,139.640594,139.7500,8089800,102.286262,139.937500,141.531204,137.250000,140.00,139.6250,141.500000,137.750000,137.75,140.312500,145.750000,140.062500,145.7500,NaN
2000-01-05,139.937500,141.531204,137.250000,140.0000,12177900,102.469243,139.625000,141.500000,137.750000,137.75,140.3125,145.750000,140.062500,145.75,146.250000,146.906204,145.031204,146.2500,NaN
2000-01-06,139.625000,141.500000,137.750000,137.7500,6227200,100.822416,140.312500,145.750000,140.062500,145.75,146.2500,146.906204,145.031204,146.25,145.812500,146.093704,143.500000,144.5000,NaN
2000-01-07,140.312500,145.750000,140.062500,145.7500,8066500,106.677801,146.250000,146.906204,145.031204,146.25,145.8125,146.093704,143.500000,144.50,144.593704,144.593704,142.875000,143.0625,NaN